[submodule "dependencies/jsonrpcpp"]
	path = dependencies/jsonrpcpp
	url = https://github.com/badaix/jsonrpcpp.git
[submodule "dependencies/libbase58"]
	path = dependencies/libbase58
	url = https://github.com/bitcoin/libbase58.git
[submodule "dependencies/leveldb"]
	path = dependencies/leveldb
	url = https://github.com/google/leveldb.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "dependencies/gradido_blockchain"]
	path = dependencies/gradido_blockchain
	url = https://github.com/gradido/gradido_blockchain.git
[submodule "dependencies/paho.mqtt.c"]
	path = dependencies/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
