[submodule "src/proto"]
	path = src/proto
	url = ssh://git@85.214.134.190:18521/~/gradido_protocol
[submodule "dependencies/jsonrpcpp"]
	path = dependencies/jsonrpcpp
	url = https://github.com/badaix/jsonrpcpp.git
[submodule "dependencies/iroha-ed25519"]
	path = dependencies/iroha-ed25519
	url = ssh://git@85.214.134.190:18521/~/forks/iroha-ed25519.git
[submodule "dependencies/libbase58"]
	path = dependencies/libbase58
	url = https://github.com/bitcoin/libbase58.git
[submodule "dependencies/leveldb"]
	path = dependencies/leveldb
	url = https://github.com/google/leveldb.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/--branch"]
	path = dependencies/--branch
	url = https://github.com/protocolbuffers/protobuf.git
